:root {
  --primary-color: #ff784f;
  --sidebar-bg: #0f0f0f;
  --sidebar-fg: #f8f8f2;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
  color: var(--primary-color);
}

a:hover {
  opacity: 0.85;
}
